<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <title>Job Scrapper</title>
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Search Results:</h1>
      </hgroup>
      <figure>
        <table role="grid">
          <thead>
            <tr>
              <th>Company</th>
              <th>Title</th>
              <th>Location</th>
              <th>Pay</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            {% for job in db %}
            <tr>
              <td>{{job.company}}</td>
              <td>{{job.title}}</td>
              <td>{{job.location}}</td>
              <td>{{job.pay}}</td>
              <td>
                <a href="{{job.link}}" target="_blank">Apply now &rarr;</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </figure>
    </main>
  </body>
</html>
